*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*for root font-size ie 1rem = 10px*/
  scroll-behavior: smooth;
}

body {
  font-family: ;
  font-style: ;
  font-weight: ;
  box-sizing: border-box;
}

